.header {
  background-color: #020910;
}

.wrap {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 0.7rem 2rem;
}

.header .title {
  display: inline-block;
  color: white;
  font-size: 2rem;
}

.header .nav {
  margin-left: auto;
}

.header .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .nav li {
  display: inline-block;
}

.header .nav a {
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0 1rem 3rem;
}

.header .nav a.active {
  color: #47a8ff;
}

@media (max-width: 30em) {
  .wrap {
    padding: 0.7rem 1rem;
  }
}
