.task-filter-container {
  margin: 1rem 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sort {
  display: flex;
}

.sort label {
  width: 35%;
  padding: 0.25rem;
}

.sort .filterchoice {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 0.25rem;
  margin-right: 1rem;
  cursor: pointer;
  outline: 1px lightgray solid;
}

.sort .filterchoice.selected {
  background-color: lightgray;
}

.sort .filterlist {
  position: absolute;
  left: 0;
  top: 1.8rem;
  z-index: 1;
  background-color: white;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.sort .filterlist li {
  padding: 0.25rem 0.5rem;
}

.sort .filterlist li:hover {
  background-color: lightblue;
}

@media (max-width: 30em) {
  .view-filters {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid lightgray;
  }
  .task-filter-container {
    grid-template-columns: 1fr;
    display: none;
  }
  .task-filter-container.show {
    display: block;
  }
  .sort .filterchoice {
    margin-right: 0;
    padding: 0.5rem 0.25rem;
  }
  .sort .filterlist {
    top: 2.5rem;
  }
  .sort .filterlist li {
    padding: 0.5rem 0.5rem;
  }
}
