.task-view {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.task-container {
  margin-right: 2rem;
}

.task-container > h1 {
  margin: 1rem 0;
  cursor: pointer;
  display: inline-block;
}

.task-container .delete-task {
  font-size: 1em;
  float: right;
  margin: 1.15rem 1rem 0;
  cursor: pointer;
}

.task-container .confirmdelete {
  font-size: 1em;
  float: right;
  margin: 1.15rem 1rem 0;
}

.task-container .confirmdelete div {
  display: inline-block;
  margin-left: 1rem;
  cursor: pointer;
}

.task-container .confirmdelete .confirm {
  font-weight: bold;
  color: yellowgreen;
}

.task-container .confirmdelete .cancel {
  font-weight: bold;
  color: orangered;
}

.hide {
  display: none;
}

.task {
  position: relative;
  margin: 0 0 2rem 0;
  padding: 2rem 2rem 1rem;
  border: 1px lightgrey solid;
  border-top: 0.5rem solid lightgray;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.task h1 {
  margin: 0;
  width: 70%;
  display: inline-block;
}

.task h1:hover {
  outline: 1px solid lightgray;
  cursor: text;
}

.task .details:hover {
  outline: 1px solid lightgray;
  cursor: text;
}

.task .duedate {
  position: relative;
  font-size: 0.9rem;
  float: right;
  cursor: pointer;
}

.task .duedate:hover {
  outline: 1px solid lightgray;
}

.task .duedate .title {
  position: absolute;
  bottom: -0.75rem;
  right: 0;
  font-weight: bold;
  font-size: 0.75rem;
  text-align: right;
  color: gray;
}

.task .createdby {
  font-size: 0.8rem;
  margin: 0;
}

.task.completed {
  border-top: 0.5rem solid yellowgreen;
}

.task.completed:after {
  position: absolute;
  content: 'COMPLETED';
  right: 1rem;
  top: -0.45rem;
  text-align: right;
  font-size: 1.5rem;
  color: yellowgreen;
}

.task.inprogress {
  border-top: 0.5rem solid orange;
}

.task.inprogress:after {
  position: absolute;
  content: 'IN PROGRESS';
  right: 1rem;
  top: -0.45rem;
  text-align: right;
  font-size: 1.5rem;
  color: orange;
}

.task .footer {
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: right;
  margin: 0.75rem 0 0;
  background-color: white;
}

.task .footer p {
  margin: 0;
  padding-top: 0.25rem;
  color: gray;
  font-size: 0.75rem;
}

.task .priority-container {
  position: relative;
  float: left;
}

.task .priority {
  font-size: 0.75rem;
  padding: 0.15rem 0.5rem 0.25rem;
  border-radius: 10px;
  cursor: pointer;
}

.task .priority-container .low {
  border: 1px solid lightgray;
  color: lightgray;
}

.task .priority-container .medium {
  border: 1px solid orange;
  color: orange;
}

.task .priority-container .high {
  border: 1px solid orangered;
  color: orangered;
}

.priority-container .priority-dropdown {
  /* position: absolute; */
  left: 0;
  top: 0;
  background-color: white;
  padding: 0;
}

.priority-container .priority-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.priority-container .priority-dropdown ul li {
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.15rem 0.5rem 0.25rem;
  border-radius: 10px;
  margin-right: 0.15rem;
  cursor: pointer;
}

.priority-container .priority-dropdown ul li.low:hover {
  background-color: gray;
  color: white;
}

.priority-container .priority-dropdown ul li.medium:hover {
  background-color: orange;
  color: white;
}

.priority-container .priority-dropdown ul li.high:hover {
  background-color: orangered;
  color: white;
}

.task input.title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: bold;
  font-size: 1.17rem;
  width: 75%;
}

.task input.addingitem {
  font-size: 1.05rem;
  width: 100%;
}

.task textarea.details {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.05rem;
  width: 100%;
  min-height: 6rem;
  margin-top: 1rem;
  resize: vertical;
}

.task .checklist .addtask {
  display: inline-block;
  color: gray;
  border: 1px solid lightgray;
  padding: 0.15rem 1rem 0.25rem 0.5rem;
  border-radius: 15px;
  cursor: pointer;
}

.checklist {
  border-bottom: 1px solid lightgray;
}

.checklist ul {
  list-style: none;
  font-size: 1rem;
  margin: 1.5rem 1.75rem 1rem;
  padding: 0;
}

.checklist ul li {
  position: relative;
  margin-bottom: 0.35rem;
}

.checklist ul li.completed {
  font-style: italic;
}

.checklist ul li .checkbox {
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  left: -1.75rem;
  top: 0.15rem;
  border: 1px solid lightgray;
  cursor: pointer;
}

.checklist ul li.completed .checkbox {
  background-color: black;
}

.checklist ul li .checkbox:hover {
  transform: scale(1.5);
}

.checklist li .remove {
  display: none;
  font-style: normal;
  font-weight: bold;
  color: red;
  margin-left: 0.5rem;
  cursor: pointer;
}

.checklist .itemwarning {
  color: gray;
  font-style: italic;
}

.checklist li:hover .remove {
  display: initial;
}

.tags ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tags ul li {
  font-style: italic;
  display: inline-block;
  padding: 0.25rem;
  font-size: 0.9rem;
  color: gray;
}

.tags li.addtag {
  display: inline-block;
  margin: 0;
  font-size: 0.75rem;
  border: 1px solid lightgray;
  color: gray;
  border-radius: 15px;
  padding: 0.1rem 0.75rem 0.25rem;
  cursor: pointer;
}

.task input.addingtag {
  margin-top: 0.5rem;
  font-size: 1.05rem;
  width: 100%;
}

@media (max-width: 30em) {
  .task-view {
    grid-template-columns: 1fr;
  }
  .task-container {
    margin-right: 0;
    border-bottom: 1px solid lightgray;
  }
}
