body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  border: none;
}

@media (min-width: 1000px) {
  html {
    font-size: 1.15rem;
  }
}
